<div class="card" style="width: 18rem;">
    <div class="card-header">
      Employee {{employeeId}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{employee.name}}</li>
      <li class="list-group-item">{{employee.email}}</li>
      <li class="list-group-item">{{employee.cellphone}}</li>
      <li class="list-group-item">{{employee.address}}</li>
      <li class="list-group-item">{{employee.code}}</li>
      <li class="list-group-item">{{employee.status}}</li>
    </ul>
  </div>
